/*
 * Change the main Kibana logo
 */

 #globalHeaderBars {
    .euiHeader.header__firstBar {
        background-color: #cbcbcb !important;
        border-bottom-color: #cbcbcb !important;
    }
    /*
     * Change the main logo
     */
    .euiHeaderLogo {
        svg {
            display: none !important;
        }
        
        &:focus {
            background-color: inherit;
        }

        &:before {
            content: '';
            background-position: center;
            background-image: url('../assets/saltworks-logo.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 35px;
            height: 35px;
        }
    }

    /*
     * Change the search bar text
     */
    .kbnSearchBar {
        &::placeholder {
            // Hides the placeholder.
            // Seems like content does not work on the placeholder pseudo element (?)
            opacity: 0;
        }
    }

    /*
     * Hide the news button
     */
    .euiHeaderSectionItemButton[data-test-subj=newsfeed] {
        display: none;

    }



}